@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .container {
    @apply max-w-[1134px] mx-auto px-6
  }

  .description {
    @apply md:text-[16px] lg:text-lg text-blue-200 font-barlow
  }

  .line::before {
    content: '';
    @apply absolute 
    lg:-left-[27%] xl:-left-[70%] 2xl:-left-[80%] 
    lg:w-[200px] xl:w-[490px] 2xl:w-[560px] 
    top-1/2 
    h-[1px] 
    bg-white/25
  }

  .active::after {
    content: '';
    @apply absolute xxs:h-full md:h-1 xxs:w-1 md:w-full bottom-0 xxs:right-0 md:left-0 bg-white duration-100
  }

  .planetActive::after {
    content: '';
    @apply absolute h-1 w-full bottom-2 left-0 bg-white duration-100
  }
}

